progress = true
verbose = true

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1a5lex4j7f0jrnjhrx2trzh49vfwc05sd0flejsazp0w0k36pqdaqa575vt"

[git]
    autoAdd = false
    autoCommit = false
    autoPush = false

[data]
    # custom data
